/.quarto/
/_output/
**/*.quarto_ipynb
project-personal/stage03/hugo
project-personal/stage03/hugo
project-personal/stage03/hugo
project-personal/stage03/hugo
project-personal/stage03/hugo
project-personal/stage03/hugo
*.deb
labs/lab02/report/quarto-*.deb
labs/lab02/report/quarto-*.deb
labs/lab02/report/quarto-*.deb
project-personal/stage03/hugo
project-personal/stage03/hugo
